# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- List popular languages for Data Science
- List popular libraries for Data Science
- Table of Data Science Tools
- Examples of arithmetic Operations

Some of the popular languages that Data Scientists use are:

- Python
- R
- SQL

Some of the commonly used libraries used by Data Scientists include:

- Pandas
- NumPy
- scikit-learn

| Data Science Tools|
|-------------------|
|Jupyter Notebook  | 
| RStudio           | 
| Tableau           | 
| TensorFlow        |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:

minutes = 200 

# This will convert 200 minutes to hours by diving by 60 

hours = minutes /60

print(hours)

3.3333333333333335

## Author 
Rakesh Kalivela